<h1>Listing groups</h1>

<table class="box-table-a">
  <tr>
    <th>Grupo</th>
    <th>Genero Musical</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @groups.each do |group| %>
  <tr>
    <td>
      <img src="/data/<%= group.pictureref %>" onerror="this.src='/data/default_group';" width="100" />
      <br/>
      <label><%= group.name %></label> 
      <br/>
      Miembros:
      <br/>
      <% group.users.each do |cur_user|%>
        <img class="picture_user small"  src="<%= cur_user.pictureref ? "/data/#{cur_user.pictureref}":'#'  %>" onerror="this.src='/data/default_user';" />
        <span><%= cur_user.lastname1 %> <%= cur_user.lastname2 %>, <%= cur_user.givenname %></span><br/>
      <% end %>
    </td>
    <td><%= group.genre %></td>
    <td><%= link_to 'Show', group, class: 'link_button' %></td>
    <td><%= link_to 'Edit', edit_group_path(group), class: 'link_button' %></td>
    <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } , class: 'link_button'%></td>
  </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Group', new_group_path, class: 'link_button' %>
