<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Genre:</b>
  <%= @group.genre %>
</p>

<p>
  <b>Biography:</b>
  <%= @group.biography %>
</p>

<p>
  <b>Picture:</b>
  <%= @group.picture %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
