<%= form_for(@user , class:"signup")   do |f| %>
    <div class="placeholding-input">
      <%= f.text_field :typeDocum , class:"text-input", autocomplete:"off" , placeholder:"Tipo de Documento"  %>

    </div>
    <div class="placeholding-input">
      <%= f.text_field :numDocum , class:"text-input", autocomplete:"off" , placeholder:"N° de Documento" %>
    </div>
    <div class="placeholding-input">
      <%= f.text_field :firstName , class:"text-input", autocomplete:"off", placeholder:"Apellido Paterno" %>
    </div>
    <div class="placeholding-input">
      <%= f.text_field :lastName , class:"text-input", autocomplete:"off", placeholder:"Apellido Materno" %>
    </div>
    <div class="placeholding-input">
      <%= f.text_field :name , class:"text-input", autocomplete:"off", placeholder:"Nombres" %>
    </div>
    <div class="placeholding-input">
      <%= f.text_field :sex , class:"text-input", autocomplete:"off", placeholder:"Sexo" %>
    </div>
    <div class="placeholding-input">
      <%= f.text_field :email , class:"text-input", autocomplete:"off", placeholder:"Email" %>
    </div>
    <div class="placeholding-input">
      <%= f.text_field :email , class:"text-input", autocomplete:"off", placeholder:"Re-Email" %>
    </div>
    <div class="placeholding-input">
      <%= f.text_field :password , class:"text-input", autocomplete:"off", placeholder:"Contraseña" %>
    </div>
    <div class="placeholding-input">
      <%= f.text_field :password , class:"text-input", autocomplete:"off", placeholder:"Re-Contraseña" %>
    </div>
    <button type="submit" class="btn signup-btn">
      Registrate en Social Music
    </button>
<% end %>


