<p id="notice"><%= notice %></p>

<p>
  <b>Dateini:</b>
  <%= @concert.dateIni %>
</p>

<p>
  <b>Datefin:</b>
  <%= @concert.dateFin %>
</p>

<p>
  <b>State:</b>
  <%= @concert.state %>
</p>

<p>
  <b>Score:</b>
  <%= @concert.score %>
</p>


<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
