<p id="notice"><%= notice %></p>

<p>
  <b>Headline:</b>
  <%= @concert.headline %>
</p>

<p>
  <b>Description:</b>
  <%= @concert.description %>
</p>

<p>
  <b>Datestart:</b>
  <%= @concert.datestart %>
</p>

<p>
  <b>Dateend:</b>
  <%= @concert.dateend %>
</p>

<p>
  <b>Totalscore:</b>
  <%= @concert.totalscore %>
</p>

<p>
  <b>Local:</b>
  <%= @concert.local %>
</p>

<p>
  <b>Group:</b>
  <%= @concert.group %>
</p>


<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
